/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap'); */

@import '@fortawesome/fontawesome-free/css/all.min.css';



@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Josefin Sans';
  src: url('../Fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('../Fonts/Bitter-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,
p,
ul {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  font-family: 'Bitter', sans-serif;
}

body,
* {
  font-family: 'Bitter', sans-serif;
  scroll-behavior: smooth;
}

/* navbar */
.sticky-navbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Adjust as needed */
  z-index: 1000; /* Ensure it stays on top of other content */
  transition: top 0.3s ease, opacity 0.3s ease;
}

/* Basic styling for the div when it's fixed */
.fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2000;
  padding: 1rem;
  transition: top 0.3s ease-in-out;
}



.fixed-bgsell {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2000;
 magin-bottom:14rem;
  transition: top 0.3s ease-in-out;
}

@media (max-width: 768px) {
.fixed-bgsell {
   padding:10px;
  }
}


.sticky-active {
  position: fixed;
  top: 60px;
}

.fixed-bg-listing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height:67px; */
  /* padding-top:1.5rem;
  padding-bottom:; */
  background-color: white;
  z-index: 2000;
  transition: top 0.3s ease-in-out;
}

.sticky-actives {
  position: fixed;

}

.fixed-bg-listing .dynamic-button {
  height: 67px; /* Fixed height when the navbar is in the fixed state */
}

.sticky-actives .dynamic-button {
  height: auto; /* Allow height to adjust based on content when not fixed */
}

.dynamic-button {
  padding: 0 10px; /* Adjust padding as needed */
  border-radius: 4px; /* Optional: add border-radius if needed */
}


.navbar-hidden {
  top: -100px; /* Adjust based on your navbar height */

  transition: top 0.3s ease, opacity 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out 1s forwards; /* 1s delay, 1s duration */
}

/* pagination */
/* Custom styles for Swiper pagination */
.custom-swiper-pagination-bullet {
  width: 50px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.custom-swiper-pagination-bullet-active {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.custom-swiper .swiper-pagination {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .custom-swiper-pagination-bullet {
    width: 30px;
    height: 3px;
  }
}

/* swiper */

.swiper-button-next,
.swiper-button-prev {
  background: none;
  /* color: white; */
  width: 7px;
  height: 7px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 900;
  font-size: 24px;
}

.swiper-container {
  padding-bottom: 40px;
}

.swiper-pagination {
  bottom: -0px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #555;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  display: none;
}

/* checkbox */
.custom-checkbox {
  height: 1rem; /* equivalent to h-4 */
  width: 1rem; /* equivalent to w-4 */
  border-radius: 9999px; /* equivalent to rounded-full */
  appearance: none;
  border: 1px solid #d1d5db; /* equivalent to border-gray-300 */
  outline: none;
  position: relative;
  background-color: white;
}

.custom-checkbox:checked {
  background-color: #2563eb; /* equivalent to bg-blue-600 */
  border-color: transparent;
}

.custom-checkbox:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem; /* Adjust the size of the checkmark */
  height: 1.8rem; /* Adjust the size of the checkmark */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white"><path d="M6.293 9.707a1 1 0 01.083-1.32l2.297-2.294 4.293 4.293-1.414 1.414-3.586-3.586-1.293 1.293a1 1 0 01-1.42-1.42z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}

.custom-checkbox:focus {
  outline: none;
}

/* link hover effect */
.link-hover-effect::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust this value for the desired gap */
  left: 55%;
  width: 100%;
  height: 0.9px; /* Thickness of the line */
  background-color: #d97706;
  border-radius: 20%;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link-hover-effect:hover::after {
  transform: translateX(-55%) scaleX(1);
}


.link-hover-effect-sell {
  position: relative;
}

.link-hover-effect-sell::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust this value for the desired gap */
  left: 0;
  width: 100%; /* Full width of the link */
  height: 1px; /* Thickness of the line */
  background-color: #d97706;
  border-radius: 20%;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  opacity: 0; /* Start with the underline hidden */
}

.link-hover-effect-sell.active::after,
.link-hover-effect-sell:hover::after {
  opacity: 1; /* Make underline visible */
}

.link-hover-effect-sell.active::after {
  transform: translateX(0); /* No transformation */
}





/* line clamp */
.line-clamp-12 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  line-clamp: 8;
}





